@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';

body {
  margin: 0;
  color: var(--color-black);
}

@theme {
  --spacing: 1px;

  --color-black: #222222;
  --color-white: #FFFFFF;
  --color-primary-dark: #3B9AFF;
  --color-primary: #75B8FF;
  --color-error: #FF5959;
  --color-success: #44CB8F;
  --color-gray-100: #F3F2F1;
  --color-gray-300: #DDDDDB;
  --color-gray-500: #A19F9A;
  --color-gray-700: #686764;
}

@layer {
  .title-24-bold {
    @apply text-2xl font-bold;
  }

  .title-20-bold {
    @apply text-xl font-bold;
  }

  .title-20-medium {
    @apply text-xl font-medium;
  }

  .title-18-bold {
    @apply text-lg font-bold;
  }

  .text-16-bold {
    @apply text-base font-bold;
  }

  .text-16-semibold {
    @apply text-base font-semibold;
  }

  .text-16-medium {
    @apply text-base font-medium;
  }

  .text-14-semibold {
    @apply text-sm font-semibold;
  }
  .text-14-medium {
    @apply text-sm font-medium;
  }

  .shadow-container{
    @apply bg-white shadow-[0px_0px_10px_0px_rgba(0,0,0,0.10)]
  }
}


.head1 {
  font-size: 24px;
  font-weight: 600;
}

.head2 {
  font-size: 20px;
  font-weight: 600;
}

hr {
  color: var(--color-gray-100);
}

.custom-pagination .swiper-pagination-bullet {
  background-color: var(--color-gray-300);
  width: 10px;
  height: 10px;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
  width: 30px;
  border-radius: 10px;
}