@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';

:root {
  font-family: Pretendard;
}

body {
  margin: 0;
  color: var(--color-black);
}

li{
  list-style-type: none;
}

@theme {
  --spacing: 1px;

  --color-black: #222222;
  --color-white: #FFFFFF;
  --color-primary-dark: #3B9AFF;
  --color-primary: #75B8FF;
  --color-error: #FF5959;
  --color-success: #44CB8F;
  --color-gray-100: #F3F2F1;
  --color-gray-300: #DDDDDB;
  --color-gray-500: #A19F9A;
  --color-gray-700: #686764;
}

@layer {
  .title-24-bold {
    @apply text-2xl font-bold;
  }

  .title-24-semibold {
    @apply text-2xl font-semibold;
  }

  .title-24-medium {
    @apply text-2xl font-medium;
  }

  .title-20-bold {
    @apply text-xl font-bold;
  }

  .title-20-medium {
    @apply text-xl font-medium;
  }

  .title-18-bold {
    @apply text-lg font-bold;
  }
  
  .title-18-medium {
    @apply text-lg font-medium;
  }

  .text-16-bold {
    @apply text-base font-bold;
  }

  .text-16-semibold {
    @apply text-base font-semibold;
  }

  .text-16-medium {
    @apply text-base font-medium;
  }

  .text-16-normal {
    @apply text-base font-normal;
  }

  .text-16-light {
    @apply text-base font-light;
  }

  .text-14-semibold {
    @apply text-sm font-semibold;
  }
  .text-14-medium {
    @apply text-sm font-medium;
  }
  .text-14-normal {
    @apply text-sm font-normal;
  }

  .shadow-container{
    @apply bg-white shadow-[0px_0px_10px_0px_rgba(0,0,0,0.10)]
  }
}


.head1 {
  font-size: 24px;
  font-weight: 600;
}

.head2 {
  font-size: 20px;
  font-weight: 600;
}

hr {
  color: var(--color-gray-100);
}

.custom-pagination .swiper-pagination-bullet {
  background-color: var(--color-gray-300);
  width: 10px;
  height: 10px;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
  width: 30px;
  border-radius: 10px;
}

@keyframes spin-pause {
  0% {
    transform: rotate(0deg);
  }
  83.33% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-pause {
  animation: spin-pause 1.5s ease-in-out infinite;
}